.rva-fondo
{
    background-image: url("../images/fondoa.png");
    text-shadow: 0 0 16px #0000ff;
}

.rva-fondo a:hover, .rva-menu-activo, .rva-color
{
    color: rgb(0,0,255);
}

.rva-input:focus
{
    background: rgba(0,0,0,0);
    color: rgb(255,255,255);
    outline: none !important;
    border-color: rgb(0,0,255);
    box-shadow: 0 0 4px rgb(0,0,255);
}

.rva-boton, .rva-alerta
{
    background: rgba(0,0,0,0);
    color: rgb(0,0,255);
    border-color: rgb(0,0,255);
    border-radius: 0px;
}

.rva-alerta .close
{
    color: rgb(0,0,255);
    text-shadow: none;
    opacity: 1;
    outline: none !important;
}

.rva-boton:focus
{
    background: rgba(0,0,0,0);
    color: rgb(0,0,255);
    outline: none !important;
    border-color: rgb(0,0,255);
    box-shadow: 0 0 4px rgb(0,0,255);
}

.rva-boton:hover, .rva-boton:active
{
    background: rgb(0,0,255) !important;
    color: rgb(0,0,0) !important;
    outline: none !important;
    border-color: rgb(0,0,255) !important;
    box-shadow: 0 0 4px rgb(0,0,255) !important;
}

.rva-imagen
{
    box-shadow: 0 0 8px rgb(0,0,255);
}

.rva-icono
{
    filter: drop-shadow(0 0 16px rgb(0,0,255));
}