@font-face
{
    font-family: rvaMonoFont;
    src: url(../font/rvaMonoFont.ttf);
}

html 
{
    position: relative;
    min-height: 100%;
    box-shadow: inset 0 0 2px rgb(0,0,0), inset 0 0 4px rgb(0,0,0), inset 0 0 8px rgb(0,0,0), inset 0 0 16px rgb(0,0,0), inset 0 0 32px rgb(0,0,0), inset 0 0 64px rgb(0,0,0);
    border: solid 8px rgb(0,0,0);
}

body
{
    background-color: rgb(0,0,0);
    background-repeat: repeat;
    background-attachment:fixed;
    color: rgb(255,255,255);
    font-family: 'Roboto Mono', monospace;
    /*font-size: 16px;*/
}

a
{
    color: rgb(255,255,255);
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

.rva-factory
{
    position: relative;
}

.rva-sombra
{
    -webkit-filter: blur(4px);
    filter: blur(4px);
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;
}

.rva-perfil 
{
    margin-top: -42px;
    margin-bottom: -8px;
}

.rva-bloque 
{
    margin-top: 2px;
    margin-bottom: 2px;
}

.rva-input
{
    background: rgba(0,0,0,0);
    color: rgb(255,255,255);
    border-color: rgb(255,255,255);
    border-radius: 0px;
}

.rva-imagen
{
    border-radius: 1rem !important;
}


.fa-ul
{
    margin-left: 2em;
}

.fa-li
{
    width: 1.25em;
}


.rva-rvafactory
{
    font-family: rvaMonoFont, monospace;
    font-size: 64px;
    line-height: 66.66%;
}

.rva-rvafactory a:hover
{
    text-decoration: none;
}

.rva-r, .rva-r:hover
{
    color: rgb(255,0,0) !important;
    text-shadow: 0 0 16px rgb(255,0,0);
}
.rva-v, .rva-v:hover
{
    color: rgb(0,255,0) !important;
    text-shadow: 0 0 16px rgb(0,255,0);
}
.rva-a, .rva-a:hover
{
    color: rgb(0,0,255) !important;
    text-shadow: 0 0 16px rgb(0,0,255);
}
  
@media (min-width: 576px)
{
    .rva-rvafactory
    {
        font-size: 96px;
    }
    .rva-perfil
    {
        margin-bottom: -12px;
    }
}
  
@media (min-width: 768px)
{
    .rva-rvafactory
    {
        font-size: 128px;
    }
    .rva-perfil
    {
        margin-bottom: -16px;
    }
}
